<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Todo List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/jqueryui/external/jquery/jquery.js"></script>
    <script src="/scripts/analytics.js"></script>

  </head>

  <body>


    <div style="width:500px;height:500px;margin:auto">
      <canvas id="myChart" width="400px" height="400px"></canvas>
    </div>
  </body>

</html>
