<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Todo List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/lists.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <nav id="nav-bar">
      <!-- <h1 class="welcome">Welcome!</h1> -->
      <div>
        <span class="header">SMART<br>Todo List</span>
      </div>
      <div class="login-new-list">
        <button class="login-nav" id="login">Login</button>
        <button id="new-list">
          New List
        </button>
      </div>
    </nav>
    <section class="todos">
      <div class="lists">
        <h2>General</h2>
        <div>
          <h3>Movies</h3>
          <ul class="cat">
            <li>Venom</li>
            <li>Venom</li>
            <li>Venom</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
