html body {
  background-image: url("background.jpg");
  background-size: 1920px 1080px;
  font-family: 'Dosis', sans-serif;
}

html body h1 {
  color: #244751;
}

.login-dropdown {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 8%;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 5%;
  border-top-width: 5%;
  padding-top: 3%;
  padding-right: 25px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.login-dropdown h3 {
  color: white;
}

.login-dropdown .form-group {
  border-radius: 5px;
  padding: 5px;
}

.login-dropdown .sign-in {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.login-dropdown input {
  width: 75%;
  border-radius: 5px;
  border: 1px solid black;
}

.login-dropdown input[placeholder] {
  text-align: center;
}

.sign-in {
  border: 1px solid black;
}

.sign-in-register {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.register {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 2px 5px 4px 5px;
  text-decoration: none;
  color: black;
}

.register:hover {
  text-decoration: none;
  color: black;
}

.registerPage {
  border: 1px solid black;
  margin-left: 25px;
  border-radius: 5px;
}

.background {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  min-height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  flex-wrap: wrap;
}

.fa-user {
  width: 5%;
  font-size: 22px;
  margin-right: 5%;
  color: #20298f;
}

.fa-lock {
  width: 5%;
  font-size: 22px;
  margin-right: 5%;
  color: #20298f;
}

.fa-envelope {
  width: 5%;
  font-size: 22px;
  margin-right: 5%;
  color: #20298f;
}

.login-header {
  color: white;
  text-align: center;
  font-size: 150px;
  opacity: 0;
}

.login-text {
  color: white;
  text-align: center;
  opacity: 0;
}

#errorLogin {
  padding: 2px;
  margin-right: 10px;
  margin-left: 30px;
  background-color: #ff4040;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  display: none;
}

#errorRegister {
  padding: 2px;
  margin-right: 10px;
  margin-left: 30px;
  background-color: #ff4040;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  display: none;
}
