html body {
  background-image: url("background.jpg");
  background-size: 1920px 1080px;
  font-family: 'Dosis', sans-serif;
}

html body h1 {
  color: #244751;
}


.login-dropdown {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 18%;
  margin-left: 28%;
  margin-right: 28%;
  padding-bottom: 5%;
  border-top-width: 5%;
  padding-top: 3%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.login-dropdown h3 {
  color: white;
}

.login-dropdown .form-group {
  border-radius: 5px;
  padding: 5px;
}

.login-dropdown .sign-in {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.login-dropdown .register {
  border-radius: 5px;
}

.login-dropdown input {
  width: 75%;
  border-radius: 50px;
  border:1px solid black;
}

.login-dropdown input[placeholder] {
  text-align: center;
}

.sign-in {
  border:1px solid black;
}

.register {
  border:1px solid black;
}
