.todos {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 20px;
  }

  .list-title {
    color: black;
    margin: 0;
    padding: 5px 60px;
    text-transform: uppercase;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    padding-right: 10px;
  }

  #plus {
    color: black;
    margin-top: 7px;
    margin-left: 60px;
  }
}

