.todos {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .lists {
  }
}

