#nav-bar {
  position: fixed;
  height: 100%;
  color: #e8fdff;
  width: 15%;
  z-index: 0;
  top: 0px;
  display: block;
  text-align: center;
}

#nav-bar .header {
  float: left;
  font-size: 1.5em;
  line-height: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-left: 15%;
  padding-left: 10px;
  font-size: 35px;
}

#new-list {
  float: right;
  margin-top: 3%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 10px;
  border: 0;
  border: 1px solid black;
  margin-right: 15%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

#nav-bar .login-nav {
  position: absolute;
  right: 3.8%;
  margin-top: 35%;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 35%;
  color: white;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

#nav-bar .login-new-list {
  float: right;
}

#nav-bar .welcome {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: white;
  opacity: 0;
}

#nav-bar .name {
  margin-top: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

.newListToggle {
  opacity: 1;
}

#right-nav {
  position: fixed;
  height: 100%;
  color: #e8fdff;
  width: 15%;
  padding: 0em 1em 0em 25px;
  z-index: 0;
  top: 0px;
  display: block;
  text-align: center;
  right: 0;
}

#analytics {
  float: right;
  margin-top: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 10px;
  border: 0;
  border: 1px solid black;
  margin-right: 13%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

#home {
  float: right;
  margin-top: 3%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 10px;
  border: 0;
  border: 1px solid black;
  margin-right: 20%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.shareForm {
  float: right;
  margin-top: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 10px;
  border: 0;
  border: 1px solid black;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  padding: 5%;
  display: none;
  input {
    width: 80%;
    margin-bottom: 5px;
  }

  .shareButton {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
  }

  .errorShare {
    padding: 2px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ff4040;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    display: none;
  }

  .form-group {
    margin-bottom: 1px;
  }
}
